/* WhatsApp Button */
#whatsapp-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    
}

#whatsapp-button a:hover {
    transform: scale(1.1);
}

#whatsapp-button img {
    width: 70%;
    height: 70%;
    
}
